{% extends 'base.html'%} {% block content%}
  <!-- Card for IMDB record -->
  {% for movie in movies %}
  <div class="container">
    <div class="row">
      <div class="col-md">
        <div class="card" style="width: 18rem;">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">{{ movie.name }}</li>
            <li class="list-group-item">{{ movie.imdb_score }}</li>
            <li class="list-group-item">{{ movie.popularity }}</li>
            <li class="list-group-item">{{ movie.director }}</li>
            <li class="list-group-item">{{ movie.genre.all|join:", " }}</li>
          </ul>
          <br>
        </div>
      </div>
      
    </div>
  </div>
  {% endfor %}
  </body>
  <br>
  <div class='container'>
  <div class="clearfix">
    {% if is_paginated %}
      {% if page_obj.has_previous %}
        <a type="button" class="btn btn-secondary" href="?page=1">First</a>
        <a type="button" class="btn btn-secondary" href="?page={{ page_obj.previous_page_number }}">Previous</a>
      {% endif %}
      {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
          <a type="button" class="btn btn-primary" href="?page={{ num }}">{{ num }}</a>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
          <a type="button" class="btn btn-secondary active" href="?page={{ num }}">{{ num }}</a>
        {% endif %}
      {% endfor %}

      {% if page_obj.has_next %}
        <a type="button" class="btn btn-secondary" href="?page={{ page_obj.next_page_number }}">Next</a>
        <a type="button" class="btn btn-secondary" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
      {% endif %}

    {% endif %}
      
      
    </div>
  </div>
{% endblock content %}